.main-container-map {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 85vh;
    padding-top: 40px;
    position: relative;
}

.map-container_sarawak {
    position: relative;
    width: 50%;
    max-width: 800px;
}

.map-background_sarawak {
    width: 100%;
    height: auto;
}

.map-overlay_sarawak {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.map-sub_sarawak {
    cursor: pointer;
    pointer-events: all;
}

.region-path {
    fill: transparent;
    transition: fill 0.3s ease-in-out;
}

.map-sub_sarawak:hover .region-path {
    fill: rgba(0, 0, 255, 0.3);
}

.info_card_map_sarawak {
    position: absolute;
    right: 70px;
    width: 500px;
    padding: 18px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-right: 65px;
}

.info_card_map_sarawak h2 {
    margin-top: 25px;
    font-size: 1.8rem;
}

.info_card_map_sarawak img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info_card_map_sarawak p {
    margin-top: 15px;
    font-size: 1rem;
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.info_card_map_sarawak.card-animate {
    animation: fadeInSlideUp 0.8s ease-in-out;
}

@media screen and (max-width: 768px) {
    .main-container-map {
        flex-direction: column;
        align-items: center;
        height: auto;
        min-height: 100vh;
        padding-top: 20px;
    }

    .map-container_sarawak {
        width: 100%;
        max-width: 100%;
    }

    .info_card_map_sarawak {
        position: relative;
        width: 90%;
        right: auto;
        margin: 20px auto;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    .main-container-map {
        padding-top: 10px;
        padding-bottom: 30px;
    }
    
    .map-container_sarawak {
        width: 100%;
        overflow-x: auto;
    }
    
    .map-overlay_sarawak text {
        font-size: 22px;
    }
    
    .info_card_map_sarawak {
        width: 95%;
        padding: 12px;
        margin: 15px auto;
    }
    
    .info_card_map_sarawak h2 {
        font-size: 1.2rem;
        margin-top: 15px;
    }
    
    .info_card_map_sarawak p {
        font-size: 0.7rem;
        margin-top: 10px;
    }
    
    .info_card_map_sarawak img {
        max-height: 200px;
    }
}
