.property-status {
  padding: 2px 6px;
  border-radius: 5px;
  color: #333; 
  font-weight: bold;
  font-size: 12px; 
}

.property-status.pending {
  background-color: rgb(255, 221, 0);
  color: #333; 
}

.property-status.available {
  background-color: rgb(74, 255, 74);
  color: #333; 
}

.property-status.unavailable {
  background-color: rgb(255, 74, 74);
  color: #333;
}